@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: #467E79#c2c5cc;
}

html,
body {
  max-width: 100vw;
  color: #1a1b25;
  /* background: tomato; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .outline1 {
  outline: 1px dashed tomato;
}

.outline2 {
  outline: 1px dashed blue;
}

.outline3 {
  outline: 1px dashed green;
} */
